In [1]:
# Import dependencies
import pandas as pd
import numpy as np

# Create file path to load CSV
file_path = "Resources/purchase_data.csv"

# Read file to store in Pandas data frame

purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Create count of players
players_total = len(purchase_data["SN"].unique())
# Create data frame to display count of players
total_players_df = pd.DataFrame({"Total Players": players_total}, index=[0])
total_players_df

   Total Players
0            576

In [3]:
# Create Data Frame with Purchasing Analysis
# Calculate number of unique items for sale
num_unique_items = len(purchase_data["Item ID"].unique())

# Calculate the average purchase price
avg_purchase_price = purchase_data["Price"].mean()

# Calculate the total number of purchases
num_of_purchases = len(purchase_data)

# Calculate the total Revenue
total_revenue = purchase_data["Price"].sum()

# Create data frame to hold Purchase Analysis
purchase_analysis_df = pd.DataFrame({
    "Number of Unique Items" : num_unique_items,
    "Average Price" : "${:,.2f}".format(avg_purchase_price),
    "Number of Purchases" : num_of_purchases,
    "Total Revenue" : "${:,.2f}".format(total_revenue)
}, index=[0])

purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [4]:
# Create Gender Demographics Summary

# Create Gender Group
gender_group = purchase_data.groupby('Gender')

# Create count of unique users in each gender group
gender_count = gender_group['SN'].nunique()

# Create percents of each gender group of the total list of players
gender_percents = (gender_count/players_total) * 100

# Create dataframe to hold the gender summary
gender_summary = pd.DataFrame({
    "Total Count": gender_count,
    "Percentage of Players": gender_percents,
})

# Apply formatting to gender summary dataframe
gender_summary.style.format({"Percentage of Players": "{:,.2f}%"})

In [5]:
# Create Purchase Analysis by Gender

# Calculate the total purchase count by gender group
gen_group_pur_count = gender_group['Purchase ID'].count()

# Calculate the average purchase price per gender group
gen_group_avg = gender_group['Price'].mean()

# Calculate the total purchase amount by gender group
gen_group_total = gender_group['Price'].sum()

# Calculate the average purchase price per person
avg_per_person = gen_group_total / gender_count

# Create dataframe to house Purchase Analysis by Gender
gender_purchase_df = pd.DataFrame({
    "Purchase Count" : gen_group_pur_count,
    "Average Purchase Price" : gen_group_avg,
    "Total Purchase Value" : gen_group_total,
    "Avg Total Purchase per Person" : avg_per_person
})

# Format Dataframe
gender_purchase_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

In [6]:
# Create Age Demographics Summary
bins = [0,9,14,19,24,29,34,39,100]

labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=labels)

age_group = purchase_data.groupby('Age Group')

age_count = age_group['SN'].nunique()

age_percent = (age_count/players_total)*100

age_demo_summary = pd.DataFrame({
    'Total Count':age_count,
    'Percentage of Players':age_percent
})

age_demo_summary.style.format({'Percentage of Players':"{:,.2f}%"})

In [7]:
# Create purchase analysis by age group

# Calculate the total purchase count by age group
age_group_pur_count = age_group['Purchase ID'].count()

# Calculate the average purchase price per age group
age_group_avg = age_group['Price'].mean()

# Calculate the total purchase amount by age group
age_group_total = age_group['Price'].sum()

# Calculate the average purchase price per person by age group
age_avg_per_person = age_group_total / age_count

# Create dataframe to house Purchase Analysis by age group
age_purchase_df = pd.DataFrame({
    "Purchase Count" : age_group_pur_count,
    "Average Purchase Price" : age_group_avg,
    "Total Purchase Value" : age_group_total,
    "Avg Total Purchase per Person" : age_avg_per_person
})

# Format Dataframe
age_purchase_df.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

In [25]:
# Create Top Spenders Analysis

# Create group for screen names
sn_group = purchase_data.groupby('SN')

# Calculate the number of purchases by screen name
sn_counts = sn_group['SN'].count()

# Calculate the average price per purchase by screen name
sn_avg_price = sn_group['Price'].sum()/sn_counts

# Calculate the purchase total by screen name
sn_total_purchase = sn_group['Price'].sum()

# Put screen name purchase summary into dataframe
sn_purchase_sum = pd.DataFrame({
    'Purchase Count':sn_counts,
    'Average Purchase Price':sn_avg_price,
    'Total Purchase Value':sn_total_purchase
})

# Sort by number of purchases
sn_purchase_sum_sorted = sn_purchase_sum.sort_values('Purchase Count', ascending=False).head()

# Format and print dataframe
sn_purchase_sum_sorted.style.format({
    'Average Purchase Price':"${:,.2f}",
    'Total Purchase Value':"${:,.2f}"
})