In [1]:
# Import dependencies
import pandas as pd
import numpy as np

# Create file path to load CSV
file_path = "Resources/purchase_data.csv"

# Read file to store in Pandas data frame

purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Create count of players
players_total = len(purchase_data["SN"].unique())
# Create data frame to display count of players
total_players_df = pd.DataFrame({"Total Players": players_total}, index=[0])
total_players_df

   Total Players
0            576

In [3]:
# Create Data Frame with Purchasing Analysis
# Calculate number of unique items for sale
num_unique_items = len(purchase_data["Item ID"].unique())

# Calculate the average purchase price
avg_purchase_price = purchase_data["Price"].mean()

# Calculate the total number of purchases
num_of_purchases = len(purchase_data)

# Calculate the total Revenue
total_revenue = purchase_data["Price"].sum()

# Create data frame to hold Purchase Analysis
purchase_analysis_df = pd.DataFrame({
    "Number of Unique Items" : num_unique_items,
    "Average Price" : "${:,.2f}".format(avg_purchase_price),
    "Number of Purchases" : num_of_purchases,
    "Total Revenue" : "${:,.2f}".format(total_revenue)
}, index=[0])

purchase_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [4]:
# Create Gender Demographics Summary
total_gender = len(purchase_data["SN"].unique())

males = purchase_data.loc[purchase_data["Gender"] == "Male", :]
male_group = len(males["SN"].unique())

females = purchase_data.loc[purchase_data["Gender"] == "Female", :]
female_group = len(females["SN"].unique())

other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_group = len(other["SN"].unique())

percent_male = (male_group/total_gender)*100
percent_female = (female_group/total_gender)*100
percent_other = (other_group/total_gender)*100

combined_totals = [male_group, female_group, other_group]
combined_percents = ["{:,.2f}%".format(percent_male), "{:,.2f}%".format(percent_female), "{:,.2f}%".format(percent_other)]

gender_analysis = pd.DataFrame({
    "Total Count" : combined_totals,
    "Percentage of Players" : combined_percents
}, index=["Male", "Female","Other / Non-Disclosed"])
gender_analysis

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [30]:
gender_group = purchase_data.groupby("Gender")
gen_group_avg = gender_group['Price'].mean()
gen_group_pur_count = gender_group['Purchase ID'].count()
gen_group_total = gender_group['Price'].sum()
avg_per_person = gender_group['SN'].unique()

unique_user = purchase_data.drop_duplicates(subset='SN', keep='first')
unique_user_gen = unique_user.groupby("Gender")

avg_per_person = gen_group_total / unique_user_gen['SN'].count()

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64